<aside>
    <div class="info">
    <div class="icon icon-primary">
            <i class="material-icons">chat</i>
            <h4 class="info-title text-primary">New Post</h4>
    </div>
    {{ range first 5 .Site.Pages }}
    {{if eq .Type "post" }}
        <div class="card">
            <div class="card-body ">
                <h6 class="card-category text-danger">
                    <i class="material-icons">trending_up</i> {{ .Date.Format "02 Jan, 2006" }}
                </h6>
                <h4 class="card-title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h4>

            </div>
            <div class="card-footer ">
                    <div class="author">
                        <a href="#evanszul">
                            <img src="{{ .Site.Author.image }}" alt="..." class="avatar img-raised">
                            <span>{{ .Site.Author.name }}</span>
                        </a>
                    </div>
            </div>
        </div>
     {{ end }}
     {{ end }}
    </div>

</aside>
